* {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #000000;
    z-index: 999;
    width: 100%;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.navbar-brand {
    color: #ffc800;
    font-family: 'Bebas Neue';
    font-size: 50px;
    margin-top: 4px;
    margin-right: 80px;
    text-decoration: none;
}
.search {
    position: relative;
    margin-top: 0px;
}
.form-search {
    width: 450px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 70px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    font-family: 'Poppins';
}

@media screen and (max-width: 600px) {
    .form-search {
        width: 125px;
        padding: 5px 10px;
        font-size: 12px;
    }
    .btn-search {
        display: none;
    }
    .navbar-brand {
        margin-right: 15px;
    }
    .carousel {
        height: 200px;
    }
    .carousel__button {
        padding: 2px 4px;
        display: block;
    }
    .carousel__button--left {
        left: -70px;
    }
    .carousel__button--right {
        right: -70px;
    }
}

.form-search:focus {
    background-color: rgba(0, 0, 0, .3);
}
.list-item {
    list-style: none;
}
.list-item li {
    margin: 0 10px;
}
.list-item li a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: bold;
    color: #ffffff;
}
.list:hover, .active {
    border-bottom: 2px solid #ffc800;
}

.btn-search {
    background: transparent;
    border:none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 13px;
}
.btn-login {
    background: none;
    outline: none;
    border: 2px solid #ffc800;
    padding: 2px 15px;
    font-size: 20px;
    border-radius: 50px;
    color: #ffffff;
    margin-left: 20px;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 0.2s;
    font-family: 'Poppins';
}
.btn-login:hover {
    background-color: #ffc800;
    color: #000;
}
